{% extends 'layout.html' %}

{% block page_body %}
<div class="row">
    <div class="col-12">
        <div class="card">
        <div class="card-header">
            <form
                    action="{{ request.app.admin_path }}/{{ resource }}/list"
                    method="get"
                    class="w-100"
            >
                <div class="d-flex">
                    <div class="text-muted">
                        {{ _('show') }}
                        <div class="mx-2 d-inline-block">
                            <input
                                    type="text"
                                    class="form-control"
                                    value="{{ page_size }}"
                                    size="2"
                                    name="page_size"
                                    aria-label="entries count"
                            />
                        </div>
                        {{ _('entries') }}
                    </div>
                    <div class="d-flex ms-auto">
                        {% for filter in filters %}
                            <div class="mx-2">{{ filter|safe }}</div>
                        {% endfor %}
                        <div class="ms-2">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-search me-2"></i>
                                {{ _('search') }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Relatórios de SLA</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mt-3">
                        <thead class="thead-dark">
                            <tr>
                                <th>Microsserviço</th>
                                <th>Dependência</th>
                                <th>Disponibilidade</th>
                                <th>Tempo de Resposta</th>
                                <th>Vazão</th>
                                <th>CPU</th>
                                <th>Memória</th>
                                <th>Data e Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in sla_reports %}
                                <tr>
                                    <td>{{ report.microservice }}</td>
                                    <td>{{ report.dependency_name }}</td>
                                    <td>{{ "%.0f"|format(report.availability * 100) or '0.0' }}%</td>
                                    <td>{{ "%.3f"|format(report.response_time)}}</td>
                                    <td>{{ "%.0f"|format(report.throughput)}}</td>
                                    <td>{{ "%.1f"|format(report.cpu)}}%</td>
                                    <td>{{ "%.1f"|format(report.memory)}}%</td>
                                    <td>{{ report.time_slice.strftime('%Y-%m-%d %H:%M') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
